{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
   <!-- <link rel="stylesheet" href="/static/styles.css" /> -->
  <title>Document</title>
</head>
<body>
  <h1>Hello, Welcome to my first page </h1>
<h>current flood news in kenya which has affected many people.</h>
  {{result}} 

  <h1>This gives a picture of a random pet. This is my favorite</h1>
{{result2}}
  <img src={{result2}} alt="random pet" /> -->
  
  <h1>Weather in Nairobi</h1>
  {{name}}
</body>
</html>